@page
@model MediaUploadModel
@{
    ViewData["Title"] = "Media upload";
}


<div class="col-md-4">
    <form class="form-customn" method="POST" enctype="multipart/form-data">
        <div class="form-label-group">
            <select asp-for="AlbumSelect" class="form-control">
            <option value="">Create new album</option>
                @foreach (var album in @Model.Albums)
                {
                    <option value="@album.Id">@album.Id @album.Timestamp @album.Details.Name</option>
                }
            </select>
            <label asp-for="AlbumSelect" class="control-label"></label>
        </div>

        <div class="form-label-group">
            <input asp-for="AlbumName" class="form-control" type="text">
            <label asp-for="AlbumName" class="control-label"></label>
        </div>

        <div class="form-label-group">
            <input asp-for="ImageSelect" class="form-control" type="file" accept="image/*" multiple>
            <label asp-for="ImageSelect" class="control-label"></label>
        </div>

        <button class="btn btn-lg btn-secondary btn-block" type="submit">Upload</button>
    </form>
</div>